<h2>Accquiring the needed libraries for the data visualisation:</h2>

In [22]:
library(ggplot2)
library(ggthemes)
library(tidyr)
library(dplyr, warn.conflicts = FALSE)
library(lubridate, warn.conflicts = FALSE)

<h2>Importing the dataset files:<\h2>

In [23]:
april_data <- read.csv("/kaggle/input/uberdataset/uber-raw-data-apr14.csv")
may_data <- read.csv("/kaggle/input/uberdataset/uber-raw-data-may14.csv")
june_data <- read.csv("/kaggle/input/uberdataset/uber-raw-data-jun14.csv")
july_data <- read.csv("/kaggle/input/uberdataset/uber-raw-data-jul14.csv")
august_data <- read.csv("/kaggle/input/uberdataset/uber-raw-data-aug14.csv")
september_data <- read.csv("/kaggle/input/uberdataset/uber-raw-data-sep14.csv")

<h3>Details of April Data from ("uber-raw-data-apr14.csv")</h3>

In [24]:
head(april_data)

  Date.Time        Lat     Lon      Base
1 4/1/2014 0:11:00 40.7690 -73.9549 B02512
2 4/1/2014 0:17:00 40.7267 -74.0345 B02512
3 4/1/2014 0:21:00 40.7316 -73.9873 B02512
4 4/1/2014 0:28:00 40.7588 -73.9776 B02512
5 4/1/2014 0:33:00 40.7594 -73.9722 B02512
6 4/1/2014 0:33:00 40.7383 -74.0403 B02512

In [25]:
summary(april_data)

  Date.Time              Lat             Lon             Base
 Length:564516      Min.   :40.07   Min.   :-74.77   Length:564516
 Class :character   1st Qu.:40.72   1st Qu.:-74.00   Class :character
 Mode  :character   Median :40.74   Median :-73.98   Mode  :character
                    Mean   :40.74   Mean   :-73.98
                    3rd Qu.:40.76   3rd Qu.:-73.97
                    Max.   :42.12   Max.   :-72.07

<h3>Details of May data from ("uber-raw-data-may14.csv")</h3>

In [26]:
head(may_data)

  Date.Time        Lat     Lon      Base
1 5/1/2014 0:02:00 40.7521 -73.9914 B02512
2 5/1/2014 0:06:00 40.6965 -73.9715 B02512
3 5/1/2014 0:15:00 40.7464 -73.9838 B02512
4 5/1/2014 0:17:00 40.7463 -74.0011 B02512
5 5/1/2014 0:17:00 40.7594 -73.9734 B02512
6 5/1/2014 0:20:00 40.7685 -73.8625 B02512

In [27]:
summary(may_data)

  Date.Time              Lat             Lon             Base
 Length:652435      Min.   :40.11   Min.   :-74.93   Length:652435
 Class :character   1st Qu.:40.72   1st Qu.:-74.00   Class :character
 Mode  :character   Median :40.74   Median :-73.98   Mode  :character
                    Mean   :40.74   Mean   :-73.97
                    3rd Qu.:40.76   3rd Qu.:-73.97
                    Max.   :41.32   Max.   :-72.18

<h3>Details of June data from ("uber-raw-data-jun14.csv")</h3>

In [28]:
head(june_data)

  Date.Time        Lat     Lon      Base
1 6/1/2014 0:00:00 40.7293 -73.9920 B02512
2 6/1/2014 0:01:00 40.7131 -74.0097 B02512
3 6/1/2014 0:04:00 40.3461 -74.6610 B02512
4 6/1/2014 0:04:00 40.7555 -73.9833 B02512
5 6/1/2014 0:07:00 40.6880 -74.1831 B02512
6 6/1/2014 0:08:00 40.7152 -73.9917 B02512

In [29]:
summary(june_data)

  Date.Time              Lat             Lon             Base
 Length:663844      Min.   :39.96   Min.   :-74.86   Length:663844
 Class :character   1st Qu.:40.72   1st Qu.:-74.00   Class :character
 Mode  :character   Median :40.74   Median :-73.98   Mode  :character
                    Mean   :40.74   Mean   :-73.97
                    3rd Qu.:40.76   3rd Qu.:-73.97
                    Max.   :41.32   Max.   :-72.70

<h3>Details of July data from ("uber-raw-data-aug14.csv")</h3>

In [30]:
head(july_data)

  Date.Time        Lat     Lon      Base
1 7/1/2014 0:03:00 40.7586 -73.9706 B02512
2 7/1/2014 0:05:00 40.7605 -73.9994 B02512
3 7/1/2014 0:06:00 40.7320 -73.9999 B02512
4 7/1/2014 0:09:00 40.7635 -73.9793 B02512
5 7/1/2014 0:20:00 40.7204 -74.0047 B02512
6 7/1/2014 0:35:00 40.7487 -73.9869 B02512

In [31]:
summary(july_data)

  Date.Time              Lat             Lon             Base
 Length:796121      Min.   :39.72   Min.   :-74.83   Length:796121
 Class :character   1st Qu.:40.72   1st Qu.:-74.00   Class :character
 Mode  :character   Median :40.74   Median :-73.98   Mode  :character
                    Mean   :40.74   Mean   :-73.97
                    3rd Qu.:40.76   3rd Qu.:-73.97
                    Max.   :41.34   Max.   :-72.31

<h3>Details of August Data from("uber-raw-data-aug14.csv")</h3>

In [32]:
head(august_data)

  Date.Time        Lat     Lon      Base
1 8/1/2014 0:03:00 40.7366 -73.9906 B02512
2 8/1/2014 0:09:00 40.7260 -73.9918 B02512
3 8/1/2014 0:12:00 40.7209 -74.0507 B02512
4 8/1/2014 0:12:00 40.7387 -73.9856 B02512
5 8/1/2014 0:12:00 40.7323 -74.0077 B02512
6 8/1/2014 0:13:00 40.7349 -74.0033 B02512

In [33]:
summary(august_data)

  Date.Time              Lat             Lon             Base
 Length:829275      Min.   :39.66   Min.   :-74.77   Length:829275
 Class :character   1st Qu.:40.72   1st Qu.:-74.00   Class :character
 Mode  :character   Median :40.74   Median :-73.98   Mode  :character
                    Mean   :40.74   Mean   :-73.97
                    3rd Qu.:40.76   3rd Qu.:-73.96
                    Max.   :41.32   Max.   :-72.34

<h3>Details of September Data from ("uber-raw-data-sep14.csv")<\h3>

In [34]:
head(september_data)

  Date.Time        Lat     Lon      Base
1 9/1/2014 0:01:00 40.2201 -74.0021 B02512
2 9/1/2014 0:01:00 40.7500 -74.0027 B02512
3 9/1/2014 0:03:00 40.7559 -73.9864 B02512
4 9/1/2014 0:06:00 40.7450 -73.9889 B02512
5 9/1/2014 0:11:00 40.8145 -73.9444 B02512
6 9/1/2014 0:12:00 40.6735 -73.9918 B02512

In [35]:
summary(september_data)

  Date.Time              Lat             Lon             Base
 Length:1028136     Min.   :39.99   Min.   :-74.77   Length:1028136
 Class :character   1st Qu.:40.72   1st Qu.:-74.00   Class :character
 Mode  :character   Median :40.74   Median :-73.98   Mode  :character
                    Mean   :40.74   Mean   :-73.97
                    3rd Qu.:40.76   3rd Qu.:-73.96
                    Max.   :41.35   Max.   :-72.72

<h2>Binding all the raw-data .csvs' being binded into one dataframe<\h2>

In [36]:
df <- rbind(april_data,may_data,june_data,july_data,august_data,september_data)

In [37]:
head(df)

  Date.Time        Lat     Lon      Base
1 4/1/2014 0:11:00 40.7690 -73.9549 B02512
2 4/1/2014 0:17:00 40.7267 -74.0345 B02512
3 4/1/2014 0:21:00 40.7316 -73.9873 B02512
4 4/1/2014 0:28:00 40.7588 -73.9776 B02512
5 4/1/2014 0:33:00 40.7594 -73.9722 B02512
6 4/1/2014 0:33:00 40.7383 -74.0403 B02512

In [38]:
summary(df)

  Date.Time              Lat             Lon             Base
 Length:4534327     Min.   :39.66   Min.   :-74.93   Length:4534327
 Class :character   1st Qu.:40.72   1st Qu.:-74.00   Class :character
 Mode  :character   Median :40.74   Median :-73.98   Mode  :character
                    Mean   :40.74   Mean   :-73.97
                    3rd Qu.:40.76   3rd Qu.:-73.97
                    Max.   :42.12   Max.   :-72.07